{% extends 'books/books_template.html' %}

{% block title %}
    Add Book
{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}

    <form method="post" class="text-center">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-info" type="submit" id="btn_add">Add Book</button>
    </form>

    <script>
        var token = '{{csrf_token}}';

        $('#btn_add').on('click', function () {
            $.ajax({
                headers: {"X-CSRFToken": token},
                method: 'POST',
                url: "{% url 'book-export' %}",
                data: {'some-data': 'ajax'},
                dataType: 'json',
                success: function (data) {
                    console.log('success!', data);
                    if (data.redirect) {
                        window.location.href = data.redirect;
                    }
                },
                error: function (error) {
                    console.log('error!', error);
                },
            });
        });

        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $('#id_book_author').on('click', find_author);

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>

{% endblock %}