{% extends 'books/books_template.html' %}

{% block title %}
    Add Book
{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}

    <form>
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-info" type="submit" id="btn_add">Add Book</button>
    </form>

    <script>
        var token = '{{csrf_token}}';

        $('#btn_add').on('click', function () {
            var book_title = $('#id_book_title').val();
            var book_author = $('#id_book_author').val();
            var book_isbn = $('#id_book_isbn').val();

            $.ajax({
                headers: {"X-CSRFToken": token},
                method: 'POST',
                url: "{% url 'add-book' %}",
                data: {
                    'book_title': book_title,
                    'book_author': book_author,
                    'book_isbn': book_isbn,
                },
                dataType: 'json',
                success: function (data) {
                    console.log('success!', data);
                    if (data.redirect) {
                        window.location.href = data.redirect;
                    }
                },
                error: function (error) {
                    console.log('error!');
                },
            });

            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        });
    </script>

{% endblock %}