{% extends 'books/books_template.html' %}

{% block title %}
    Notifications
{% endblock %}

{% block content %}

    <h4>Your notifications, {{ user|default:'NoName' }}:</h4>
    {% if user_msg %}
        {% for message in user_msg %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% if msg_old_5 %}
        {% for message in msg_old_5 %}
            <div class="alert alert-light" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

{% endblock %}